[project]
name = "air"
version = "0.2.0"
description = "Add your description here"
authors = [
    { name = "Audrey M. Roy Greenfeld", email = "audrey@feldroy.com" }
]
dependencies = [
    "Jinja2==3.1.4",
    "markdown==3.6",
]
readme = "README.md"
requires-python = ">= 3.12"

[project.scripts]
"air" = "air:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.rye]
managed = true
dev-dependencies = []

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/air"]
